#canvas {
  border: 1px black dotted;
  background-color: #000000;
}

@font-face {
  font-family: 'rockwell';
  src: url('../Assets/fonts/rockwell.woff2') format('woff2'),
       url('../Assets/fonts/rockwell.woff') format('woff');
  font-weight: 'normal';
  font-style: 'normal';
}
